@import url('https://fonts.googleapis.com/css?family=Overpass&display=swap" rel="stylesheet');

body {
    font-family: 'Overpass', sans-serif;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
}

.main-article {
    display: flex;
    align-self: center;
    margin: auto 100px;
}

.main-article article {
    margin: auto 50px;
}

.main-article header {
    color: #0AD9C6;
    font-size: 28px;
}

.main-article h3 {
    font-size: 22px;
}

.main-article p {
    color: #7A7A7A;
    font-size: 16px;
}