body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.animation-point {
    transform-origin: 50% 50% 0;
    animation: rotate 4s infinite linear;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}
